@model Witbird.SHTS.Web.Models.User.UserViewModel
@{
    ViewBag.Title = "用户中心-升级为Vip | " + Witbird.SHTS.Web.Public.StaticUtility.Config.Name;
    Layout = "~/Views/Shared/WebLayoutPage.cshtml";
}
@section head
{
    <link href="/content/css/news.css" rel="stylesheet" />
    <link href="/Content/css/user.css" rel="stylesheet" />
    <link href="/Content/css/tovip.css" rel="stylesheet" />
    <style type="text/css">
        .ur_title {
            width: 80px;
        }
        .user_right {
            font-size:16px;
        }
        .ur_box {
            
            font-size:17px;
        color: #FD9102;
        }
    </style>
}

<div class="main w1000">
    <div class="location">
        您当前所处的位置：<a href="/" class="blue">首页</a><span class="ch c1">&nbsp;&gt;&nbsp;</span><a
            href="/user/" class="blue">用户中心</a><span class="ch">&nbsp;&gt;&nbsp;升级为Vip</span>
    </div>
    @Html.Action("UserMenu", "User")
    <div class="user_right">
        <div class="user_right_bt">
            <p class="n1">账户升级为Vip</p>
        </div>
        <div class="steptovip">
            <ul class="nav nav-justified regStep">
                <li><span>1</span> Vip会员须知</li>
                <li class="active"><span>2</span> 充值Vip费用</li>
                <li><span>3</span> 升级Vip成功</li>
            </ul>
        </div>
        <div class="ur_title">
            商品名称：
        </div>
        <div class="ur_box">
            VIP会员充值
        </div>
        <div class="clearfix"></div>
        <div class="ur_title">
            充值用户：
        </div>
        <div class="ur_box">
            @Model.UserEntity.UserName
        </div>
        <div class="clearfix"></div>
        <div class="ur_title">
            单价：
        </div>
        <div class="ur_box">
            <span class="red ch">￥ 100 元/年</span>
        </div>
        <div class="clearfix"></div>
        <div class="ur_title">
            VIP时间：
        </div>

        <div class="ur_box">
                <select id="selectVipDuration" name="VipDuration" style="font-size: 14px; height: 30px;
                    line-height: 30px;">

                    <option value="-1">请选择VIP会员时间</option>
                    <option value="1">1年VIP</option>
                    <option value="2">2年VIP</option>
                    <option value="3">3年VIP</option>
                    <option value="4">4年VIP</option>
                    <option value="5">5年VIP</option>
                </select>
        </div>
        <div class="clearfix"></div>
        <div class="ur_title">
            总价：
        </div>
        <div class="ur_box">
            <span class="red ch" id="totalAmount" style="font-size: 16px; font-weight: bold;">￥
                0 元</span>
        </div>
        <div class="clearfix"></div>
        <div class="user_right_bt">
        </div>
        <div class="fr ur_tj">
            <input name="" type="button" class="tjzl_btn" value="取消" onclick=" window.location.href = '/user/index'" />&nbsp;&nbsp;&nbsp;
            <input name="" id="submitVip" type="button" class="tjzl_btn userbtn btndisabled" value="确定支付"
                disabled="disabled" />
        </div>
    </div>
    <div style="clear: both; height: 30px;"></div>
</div>
@section FooterJS
{
    <script src="/Content/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/content/js/payment.js"></script>
    <script type="text/javascript">
        $("#selectVipDuration").change(function () {
            $("#submitVip").removeAttr("disabled");
            $("#submitVip").removeClass("btndisabled");
            if ($(this).val() == '-1') {
                $("#submitVip").attr("disabled", "disabled");
                $("#submitVip").addClass("btndisabled");
                $("#totalAmount").html("￥ 0 元");
            }
            else {
                $("#submitVip").removeAttr("disabled");
                $("#submitVip").removeClass("btndisabled");
                $("#totalAmount").html("￥ " + $(this).val() * 100 + " 元");
            }
        });
    </script>
}