@{
    Layout = null;
}

@model Witbird.SHTS.Model.User

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>会员中心 中国活动在线网手机版</title>

    <link href="~/Areas/Mobile/Content/styles/user/style.css" rel="stylesheet" />
</head>
<body>
    <div id="_centent">
        @if (Model != null)
        {
            <div class="head">
                <div class="head-img">
                    <img src="@Model.Photo">
                </div>
                <div class="head-dsb">
                    <p class="dsb-name">欢迎您，@Model.UserName</p>
                    <p class="dsb-id"></p>
                </div>
            </div>

            <section class="mt-1">
                <div class="ps-lt">
                    <div class="lt-dsb">
                        <a href="~/mobile/user/ViewUser">
                            <p>修改会员信息</p>
                            <i class="arr-right"></i>
                        </a>
                    </div>
                    <div class="lt-dsb">
                        <a href="~/mobile/user/Identify">
                            <p>会员认证</p>
                            <i class="arr-right"></i>
                        </a>
                    </div>
                </div>
            </section>
        }
        else
        {
            <div class="head">
                <div class="head-img">
                    <img src="@System.Configuration.ConfigurationManager.AppSettings["DefaultPhoto"]">
                </div>
                <div class="head-dsb">
                    <p class="dsb-name">欢迎您，请先登录</p>
                    <p class="dsb-id"></p>
                </div>
            </div>

            <section class="mt-1">
                <div class="ps-lt">
                    <div class="lt-dsb">
                        <a href="~/mobile/account/login">
                            <p style="color:red;">立即登录</p>
                            <i class="arr-right"></i>
                        </a>
                    </div>
                </div>
            </section>
        }

        <section class="mt-3">

            <div class="ps-lt">
                <div class="lt-dsb">
                    <a href="~/mobile/resource/spacelist">
                        <p>最新活动场地资源</p>
                        <i class="arr-right"></i>
                    </a>
                </div>
            </div>
            <div class="ps-lt">
                <div class="lt-dsb">
                    <a href="~/mobile/resource/actorlist">
                        <p>最新演艺人员资源</p>
                        <i class="arr-right"></i>
                    </a>
                </div>
            </div>
            <div class="ps-lt">
                <div class="lt-dsb">
                    <a href="~/mobile/resource/equipmentlist">
                        <p>最新活动设备资源</p>
                        <i class="arr-right"></i>
                    </a>
                </div>
            </div>
            <div class="ps-lt">
                <div class="lt-dsb">
                    <a href="~/mobile/resource/otherlist">
                        <p>最新其它种类资源</p>
                        <i class="arr-right"></i>
                    </a>
                </div>
            </div>
        </section>

        <section class="mt-3">
            <div class="ps-lt">
                <div class="lt-dsb">
                    <a href="~/mobile/demand/index">
                        <p>最新需求信息</p>
                        <i class="arr-right"></i>
                    </a>
                </div>
            </div>
            <div class="ps-lt">
                <div class="lt-dsb">
                    <a href="~/mobile/demand/add">
                        <p>发布需求信息</p>
                        <i class="arr-right"></i>
                    </a>
                </div>
            </div>

            <div class="ps-lt">
                <div class="lt-dsb">
                    <a href="~/mobile/demand/mydemands">
                        <p>我发布的需求信息</p>
                        <i class="arr-right"></i>
                    </a>
                </div>
            </div>

        </section>
        <section class="mt-3">
            <div class="ps-lt">
                <div class="lt-dsb">
                    <a href="~/mobile/activity/ShareActivity">
                        <p>发布活动在线</p>
                        <i class="arr-right"></i>
                    </a>
                </div>
            </div>

            <div class="ps-lt">
                <div class="lt-dsb">
                    <a href="~/mobile/activity/index">
                        <p>最新活动在线信息</p>
                        <i class="arr-right"></i>
                    </a>
                </div>
            </div>
        </section>

        <section class="mt-3">
            <div class="ps-lt">
                <div class="lt-dsb">
                    <a href="~/mobile/news/index">
                        <p>最新网站新闻公告</p>
                        <i class="arr-right"></i>
                    </a>
                </div>
            </div>
            <div class="ps-lt">
                <div class="lt-dsb">
                    <a href="http://mp.weixin.qq.com/s?__biz=MzIzODAzMjg1Mg==&mid=406616045&idx=1&sn=0284c00c826b9faacc9fd51d61e90a31&scene=0&previewkey=hJ65r3CvPxZrCv2xPXuf8MNS9bJajjJKzz%2F0By7ITJA%3D#wechat_redirect">
                        <p>关于我们</p>
                        <i class="arr-right"></i>
                    </a>
                </div>
            </div>
        </section>

        @if (Model != null)
        {
            <section class="mt-3">
                <div class="ps-lt">
                    <div class="lt-dsb">
                        <a onclick="return confirm('您确定要登出吗？');" href="/mobile/account/logout">
                            <p style="color:red;">退出登录</p>
                            <i class="arr-right"></i>
                        </a>
                    </div>
                </div>
            </section>
        }
        <div class="jg"></div>
    </div>

    <script>

        (function (doc, win) {
            var docEl = doc.documentElement,
              resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
              recalc = function () {
                  var clientWidth = docEl.clientWidth;
                  if (!clientWidth) return;
                  docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
              };

            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
</body>
</html>
