@{
    ViewBag.Title = "关注活动在线网，获取一手信息";
    Layout = null;
}

<style>
    .background {
        width: 100%;
    }
</style>
<div id="main">
    <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzIzODAzMjg1Mg==&scene=110#wechat_redirect">
        <img class="background" src="~/Areas/Wechat/Content/images/subscribe-required.png" />
    </a>
</div>