@{
    ViewBag.Title = "我的账户 | " + Witbird.SHTS.Web.Public.StaticUtility.Config.Name;
    Layout = "~/Views/Shared/WebLayoutPage.cshtml";
}

@section head
{
    <link href="~/Content/uploadify/uploadify.css" rel="stylesheet" />
    <style type="text/css">
        .usertable tr:hover {
            background: #f5f8fa;
        }

        .userbtn {
            background-color: #ff9a15;
            color: #ffffff;
            border-radius: 4px;
            border: none;
        }

        .uploadify {
            display: inline-block;
        }

        .uploadify-queue {
            display: none;
        }

        .uploadify-button {
            background-image: none;
            width: 100px;
            height: 34px;
            background: #f5f5f5;
            border: #dddddd 1px solid;
            border-bottom: #eaeaea 1px solid;
            border-right: #eaeaea 1px solid;
            cursor: pointer;
            border-radius: 3px;
            color: inherit;
            font: inherit;
        }
    </style>
}
@model Witbird.SHTS.Web.Models.FinanceModel

<div class="main w1000">
    <div class="location">
        您当前所处的位置：
        <a href="/" class="blue">首页</a>
        <span class="ch c1">&nbsp;&gt;&nbsp;</span>
        <a href="/user" class="blue">用户中心</a>
        <span class="ch c1">&nbsp;&gt;&nbsp;</span>
        余额提现
    </div>
    @Html.Action("UserMenu", "User")
    <div class="user_right">
        <div class="user_right_bt">
            <p class="n1">余额提现</p>
        </div>
        <div class="ur_title">可用余额：</div>
        <div class="ur_box">
            @if (Model != null && Model.UserBalance != null)
            {
                <strong><span class="red ch">@Model.UserBalance.AvailableBalance.ToString("F2")</span><span>&nbsp;元</span></strong>
            }
        </div>

        <div class="clearfix"></div>
        <div style="float: left;">
            <form id="withdrawForm" action="#" enctype="multipart/form-data" method="POST">
                <div class="ur_title">提现金额：<span class="red ch">*</span></div>
                <div class="ur_box">
                    <input id="amount" name="amount" type="number" min="10" max="2000" class="ur_txt1" style="width:360px;" value="" placeholder="请输入提现金额" />&nbsp;&nbsp;<span class="red ch">每次提现金额不能少于10元</span>
                </div>
                <br />
                <div class="ur_title">提现账户：<span class="red ch">*</span></div>
                <div class="ur_box">
                    <div>
                        <input name="WechatBankImgFile" id="WechatBankImgFile" type="text" style="width: 255px;"
                               class="ur_txt1" placeholder="请上传微信收款账二维码图片，如下图" readonly="readonly" />
                        <input name="WechatBankImg" id="WechatBankImg" type="file" style="opacity: 0; display: none;" accept="image/*" />
                        &nbsp;&nbsp;<span class="red ch"><a href="/news/182.html" target="_blank" class="red">点击此查看帮助</a></span>
                    </div>
                    <div style="margin-top: 5px;">
                        <img id="preview" src="~/content/images/wechat/default.jpg" width="370" style="border:#dddddd 1px solid;padding:2px;" />
                    </div>
                </div>

            </form>
        </div>
        <div class="clearfix"></div>

        <div class="ur_tj" style="margin-left: 100px;">
            <input type="button" class="tjzl_btn" value="申请提现" onclick="withdraw(this);" />
        </div>
        <div class="clearfix"></div>
    </div>

    <div style="clear: both; height: 30px;"></div>
</div>
@section FooterJS
{
    <script src="~/Content/uploadify/jquery.uploadify.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#WechatBankImg").uploadify({
                width: 100,
                'fileTypeDesc': '图片文件',
                swf: '/Content/uploadify/uploadify.swf',
                uploader: '/Content/upload/uploadimage.ashx',
                removeCompleted: true,
                multi: false,
                buttonText: '选择图片...',
                fileTypeExts: '*.png;*.jpg;*.jpeg;*.bmp;',
                fileSizeLimit: '2MB',
                onSelect: function (file) {
                    if (file.size >= 2 * 1024 * 1024) {
                        alert(file.name + '图片不能超过2M');
                        $("#WechatBankImg").uploadify('cancel');
                        return false;
                    }
                },
                onUploadComplete: function (file) {
                    var objUrl = getObjectURL(file);
                    $("#preview").attr("src", objUrl);
                    $('#WechatBankImgFile').attr('dir', 'rtl');
                    $("#WechatBankImgFile").val($('#WechatBankImg').val());
                },
                onCancel: function (file) {
                },
                onUploadSuccess: function (file, data, response) {
                    var postfile = JSON.parse(data);
                    var urls = postfile.OriginalImage;
                    $("#preview").attr("src", urls);
                    $("#WechatBankImgFile").val(urls);
                },
                onUploadError: function (file, errorCode, errorMsg, errorString) {
                    alert('微信收款二维码图片上传失败，请重新上传');
                }
            });
        });

        function withdraw(obj) {
            var amount = $('#amount').val();
            var wechatBankImg = $('#WechatBankImgFile').val();

            if (amount == '') {
                alert("请输入本次提现金额");
                return false;
            }
            else if (amount < 10 || amount > 2000) {
                alert("每次提现金额不能少于10元，且不能大于2000元");
                return false;
            }
            else if (wechatBankImg == '') {
                alert("请上传微信收款二维码图片");
                return false;
            }
            else {
                if (confirm('你确认申请提现吗？') == false)
                    return false;
                $(obj).attr("disabled", "disabled");

                $.ajax({
                    url: '/finance/withdraw',
                    data: $("#withdrawForm").serialize(),
                    type: 'POST',
                    success: function (data) {
                        if (data.IsSuccessful) {
                            alert("提现申请成功，请耐心等待客服人员确认");
                            window.location.href = '/finance/withdrawrecord';
                        }
                        else {
                            $(obj).removeAttr("disabled");
                            alert(data.ErrorMessage);
                        }
                    },
                    error: function (msg) {
                        $(obj).removeAttr("disabled");
                        alert("提现申请失败，请检查您的网络是否连接");
                    }
                });
            }
        }
    </script>
}