@using Witbird.SHTS.Model
@model Witbird.SHTS.DAL.New.Resource
@{
    var CurrentWeChatUser = ViewData["CurrentWeChatUser"] as Witbird.SHTS.Model.WeChatUser;
}

<style>
    *{
        word-break:break-all;
    }
</style>

@if (Model.ActorTypeId != 0)
{
    <li class="connector">
        <span>演员类型:</span>
        @{
    var property = HtmlHelperExtension.ActorTypeListProperty.Find(t => t.Id == Model.ActorTypeId);
    if (property != null)
    {
        <span class="yellow2">
            @property.Name
        </span>

    }
    else
    {
        <span class="yellow2">
            不确定
        </span>
    }
        }
    </li>
}
<li>
    <span>演出视频:</span>
    <span class="yellow2">
    @if (Witbird.SHTS.Common.RegExp.IsUrl(Model.Href))
    {
    <a href="@Model.Href" target="_blank" onclick="return confirm('您即将前往外部链接，是否继续？');">@Model.Href</a>
    }
    else
    {
        @(new HtmlString(Model.Href))
    }
    </span>
</li>
