@using Witbird.SHTS.Model
@model Witbird.SHTS.DAL.New.Resource

@if (Model.EquipTypeId != 0)
{
<li class="connector">
    <span>资源类型:</span>
    @{
        var property = HtmlHelperExtension.EquipTypeListProperty.Find(t => t.Id == Model.EquipTypeId);
        if (property != null)
        {
            <span class="yellow2">
                @property.Name
            </span>

        }
        else
        {
            <span class="yellow2">
                不确定
            </span>
        }
    }
</li>
}
