@model Witbird.SHTS.DAL.New.Resource

@if (Model.OtherTypeId != 0)
{
    <li class="connector">
        <span>资源类型:</span>
        @{
            var property = HtmlHelperExtension.OtherTypeListProperty.Find(t => t.Id == Model.OtherTypeId);
            if (property != null)
            {
                <span class="yellow2">
                    @property.Name
                </span>

            }
            else
            {
                <span class="yellow2">
                    不确定
                </span>
            }
        }
    </li>
}