<!--底部信息:Start-->
<div id="footer">
    <div id="bottom" class="w1000">
        <div id="footer_left">
            <div class="foot_menu">
                <a href="/about/3.html">网站规则</a>|
                <a href="/about/4.html">会员须知</a>|
                <a href="/about/5.html">会员功能权限</a>|
                <a href="/about/6.html">中介交易流程</a>|
                <a href="/about/7.html">中介账号</a>|
                <a href="/about/8.html">中介手续费</a>|
                <a href="/about/9.html">客服功能</a>
            </div>
            <p>Copyright © 2013-2015 &nbsp;&nbsp; [@Witbird.SHTS.Web.Public.StaticUtility.Config.Name] &nbsp;&nbsp; 
                @Witbird.SHTS.Web.Public.StaticUtility.Config.ICP  &nbsp;&nbsp; 
                @Witbird.SHTS.Web.Public.StaticUtility.Config.Domain
            </p>
            <p>
                版权所有：@Witbird.SHTS.Web.Public.StaticUtility.Config.Company   &nbsp;&nbsp; 
                @Witbird.SHTS.Web.Public.StaticUtility.Config.Address &nbsp;&nbsp;
            </p>
            <p>
                电话：@Witbird.SHTS.Web.Public.StaticUtility.Config.Tel  &nbsp;&nbsp; 技术支持：<a href="http://www.witbird.com/" target="_blank">WitBird</a>
            </p>
        </div>
        <div id="footer_right">
            <div class="ewmdiv" onclick="showewm(1)">
                手机登陆入口<br />
                <img src="/content/images/ewm_mobile.png" style="width: 80px; height: 80px;" /> 
            </div>
            <div class="ewmdiv" onclick="showewm(2)">
                电脑访问入口<br />
                <img src="/content/images/ewm_weixin.png" style="width: 80px; height: 80px;" /> 
            </div>
        </div>
        <div style="clear: both;"></div>
        <div id="footer_bottom">
            <table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td>
                            <img src="/content/images/zs1.jpg" class="pngfix"></td>
                        <td>
                            <img src="/content/images/zs2.jpg" class="pngfix"></td>
                        <td>
                            <img src="/content/images/zs3.jpg" class="pngfix"></td>
                        <td>
                            <img src="/content/images/zs4.jpg" class="pngfix"></td>
                        <td>
                            <img src="/content/images/zs5.jpg" class="pngfix"></td>
                        <td>
                            <img src="/content/images/zs6.jpg" class="pngfix"></td>
                        <td>
                            <img src="/content/images/zs7.jpg" class="pngfix"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--底部信息:End-->

