<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Witbird.SHTS.DAL.Properties.Settings.shtsConnectionString"
            connectionString="Data Source=123.56.100.55;Initial Catalog=shts_test;Persist Security Info=True;User ID=sa;Password=ABC123_"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>