<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Witbird.SHTS.DAL.Properties.Settings.shtsConnectionString"
            connectionString="Data Source=Richard-PC;Initial Catalog=shts;Persist Security Info=True;"
            providerName="System.Data.SqlClient" />
        <add name="Witbird.SHTS.DAL.Properties.Settings.shtsConnectionString2"
            connectionString="Data Source=Richard-PC;Initial Catalog=shts;Persist Security Info=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>