@model Witbird.SHTS.Web.Models.User.WeChatUserViewModel
@{
    ViewBag.Title = "会员认证";
    Layout = "~/Areas/Wechat/Views/Shared/WechatLayoutPage.cshtml";
}

@section head
{
    <link href="~/content/css/login.css" rel="stylesheet" />
    <link href="~/Content/dialog/css/base.css" rel="stylesheet" />
    <link href="~/Content/webuploader/webuploader.css" rel="stylesheet" />
    <style type="text/css">
        .reg-form .cell h3 { font-size: 14px; color: black; font-family: 'Microsoft YaHei'; width: 30%; float: left; }
        .reg-form .cell label { position: absolute; font-size: 10px; color: red !important; top: 30px; padding-left: 12px; }

        #uploader-demo label { position: inherit; font-size: 10px; color: transparent; top: 0px; padding-left: 0px; width: 80% !important; }

        .wrap { height: auto; }
        .register-box { position: initial; margin-bottom: 20px; }

        .reg-form { height: auto; padding-left: 5px; padding-right: 5px; }

            .reg-form .cell select { height: 100%; width: 32%; }

            .reg-form .cell textarea { height: 100%; width: 96%; }
    </style>
    <link href="~/Content/webuploader/demo.css" rel="stylesheet" />
    <style>
        .upbtn { position: absolute; top: 0px; left: 0px; width: 77px; height: 37px; overflow: hidden; bottom: auto; right: auto; }
        #uploader-demo .thumbnail { width: 90%; height: auto; box-shadow: 0 1px 2px rgba(0,0,0,0.075); }
            #uploader-demo .thumbnail img { width: 100%; }
        .file-item { margin: 0; }
        #fileform { width: 100%; height: 100%; cursor: pointer; }

        #fileheer { opacity: 0; width: 100%; height: 100%; cursor: pointer; }

        .webuploader-element-invisible { position: inherit !important; }
        .webuploader-container { margin-top: 20px; }
    </style>
}

<div class="wrap" style="width: 100%">
    <div class="register-box" style="height: auto; width: 100%;">
        @if (string.IsNullOrEmpty(Model.VipInfo.IdentifyImg))
        {
            <div class="cell" style="margin-left:10px;font-size:16px;">
                <span style="color: #ff6a00;">
                    @(Model.UserEntity.UserType == 0 ? "请上传身份证照片，并确认清晰可见" : "请上传营业执照，并确认清晰可见")

                    <br />
                    <br />
                </span>
            </div>
        }
        <form action="Identify" class="reg-form" method="POST" id="multipart/form-data">
            <div class="cell" style="height: auto;">
                <div id="uploader-demo">
                    <input type="hidden" name="returnUrl" value='@(ViewData["returnUrl"])' />
                    <input type="hidden" id="ImageUrls" name="identifyImgUrl" />
                    <!--用来存放item-->
                    <div id="fileList" class="uploader-list">
                        <div class="file-item thumbnail upload-state-done">
                            <img src="@Model.VipInfo.IdentifyImg">
                        </div>
                    </div>
                    @if (string.IsNullOrEmpty(Model.VipInfo.IdentifyImg) || Model.VipInfo.State.Value == (int)Witbird.SHTS.Model.VipState.Invalid)
                    {
                        <div id="filePicker" class="webuploader-container">
                            <div class="webuploader-pick">选择照片</div>
                            <div class="upbtn" id="upbtn" style="cursor: pointer;">
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="bottom">
                @if (string.IsNullOrEmpty(Model.VipInfo.IdentifyImg) || Model.VipInfo.State.Value == (int)Witbird.SHTS.Model.VipState.Invalid)
                {
                    if (string.IsNullOrEmpty(Model.VipInfo.IdentifyImg))
                    {
                        <button type="submit" onclick=" addact(); " id="updatepasswordbtn" href="javascript:void(0);" class="button btn-green" style="width:100%;">确认上传</button>
                    }
                    else if (Model.VipInfo.State.Value == (int)Witbird.SHTS.Model.VipState.Invalid)
                    {
                        <button type="submit" onclick=" addact(); " id="updatepasswordbtn" href="javascript:void(0);" class="button btn-green" style="width:100%;">重新上传</button>
                    }
                    else
                    {
                    }
                }
                <br />
                <span style="color: #ff6a00;">@Model.ErrorMsg</span>
                <br />
            </div> 
        </form>
        @if (string.IsNullOrEmpty(Model.VipInfo.IdentifyImg) || Model.VipInfo.State.Value == (int)Witbird.SHTS.Model.VipState.Invalid)
        {
            <div style="opacity: 0;">
                <form id="fileform" method="post" action="/Content/upload/uploadimageformobile.ashx" enctype="multipart/form-data">
                    <input type="file" id="fileheer" name="file" onchange="btnUpload();" class="webuploader-element-invisible" multiple="multiple" accept="image/*">
                </form>
                <div style="clear: both;"></div>
            </div>
        }
    </div>
</div>
@section FooterJS
{
    <script type="text/javascript">
        function showErrorMessage(msg) {
            alert(msg);
        }
        $(function () {
            $("#upbtn").click(function () {
                document.getElementById("fileheer").click();
                console.log("ddd");
            });
        });

        function btnUpload() {
            $('#fileform').ajaxSubmit({
                dataType: 'json',
                success: function (msg) {
                    var postfile = msg;
                    if (postfile.Action) {
                        $('#ImageUrls').val(postfile.OriginalImage);
                        $("#fileList").html("");
                        var item = template('file', postfile);
                        $("#fileList").append(item);
                    } else {
                        alert(postfile.Message);
                    }
                }
            });
        }
    </script>

    <script>

        function addact() {
            if ($("#ImgUrls").val() == "") {
                alert("请选择认证图片");
            }
            else {

                $("#js-form-mobile").submit();
            }
        }
        //上传图片预览
    </script>

    <script id="file" type="text/html">
        <div class="file-item thumbnail upload-state-done">
            <img src="{{Small}}">
        </div>
    </script>
}