@{
    Layout = null;
}

@model Witbird.SHTS.Model.WeChatUser

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>会员中心</title>

    <link href="~/Areas/Wechat/Content/styles/user/style.css" rel="stylesheet" />
    <link href="~/Areas/M/Content/styles/shouwei/active.css" rel="stylesheet" />
    <link href="~/Areas/M/Content/styles/58/all_v20150415181405.css" rel="stylesheet" />
    <link href="~/Areas/M/Content/styles/58/ucenter_v20150331202541.css" rel="stylesheet" />
    <link href="~/Areas/M/Content/styles/58/m-weidian_v0.css" rel="stylesheet" />
    <style>
        .head {
            width: auto;
            height:1.6rem;
        }

            .head > .background {
                height: 100%;
                width: 100%;
                background-image: url('../../../../Content/images/mid_banner/banner_01_repeat.png');
                background-size: 7.5rem 2.2rem;
                opacity: 0.5;
            }

            .head > .head-img {
                display: inline;
                top:0.05rem;
                left:0.1rem;
            }

            .head > .head-dsb {
                display: inline;
                top:0.4rem;
                left:2rem;
            }

            .head>.head-dsb>p{
                /*color:#000;*/
            }

        .c_center {
            margin: 0 !important;
            border: none !important;
        }
    </style>
</head>
<body>
    <div id="_centent">

        <div class="head">
            <div class="background">

            </div>
            <div class="head-img">
                <a href="/wechat/user/viewuser">
                    <img src="@Model.Photo">
                </a>
            </div>
            <div class="head-dsb">
                <p class="dsb-name">编号：@Model.Id.ToString()</p>
                <p class="dsb-id">昵称：@Model.NickName</p>
            </div>
        </div>

        <div class="body_div" style="margin-top: 1px;">
            <!--登录后未绑定显示-->
            <div class="c_center">
                <ul>
                    @if (!Model.IsUserLoggedIn)
                    {
                        <li class="border_m border_r">
                            <a class="my_employ" href="/wechat/account/register">
                                注册会员帐号
                            </a>
                        </li>
                        <li class="border_m border_r">
                            <a class="my_employ" href="/wechat/account/login">
                                绑定已有帐号
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="border_m border_r">
                            <a class="my_employ" href="/wechat/user/viewuser">
                                会员信息
                            </a>
                        </li>
                        <li class="border_m border_r">
                            <a class="my_employ" href="/wechat/user/identify">
                                会员认证
                            </a>
                        </li>
                        <li class="border_m border_r">
                            <a class="my_employ" href="/wechat/finance/mybalance">
                                我的账户
                            </a>
                        </li>
                    }
                </ul>
                <ul>
                    <li class="border_m border_r">
                        <a class="my_collect" href="/Wechat/resource/spacelist">搜索资源</a>
                    </li>
                    <li class="border_m border_r">
                        <a class="my_collect" href="/wechat/demand/index">寻找需求</a>
                    </li>
                    <li class="border_m border_r">
                        <a class="my_collect" href="/wechat/activity/index">活动在线</a>
                    </li>
                </ul>
                <ul>
                    @if (!Model.IsUserLoggedIn)
                    {
                        <li class="border_m border_r">
                            <a class="my_publish" href="javascript:void(0);" onclick="showLogInMessage();">提交资源</a>
                        </li>
                        <li class="border_m border_r">
                            <a class="my_publish" href="javascript:void(0);" onclick="showLogInMessage();">发布需求</a>
                        </li>
                        <li class="border_m border_r">
                            <a class="my_publish" href="javascript:void(0);" onclick="showLogInMessage();">分享活动</a>
                        </li>
                    }
                    else
                    {
                        <li class="border_m border_r">
                            @if (Model.IsUserIdentified)
                            {
                                <a class="my_publish" href="/wechat/resource/create">提交资源</a>
                            }
                            else
                            {
                                <a class="my_publish" href="javascript:void(0);" onclick="gotoIdentify();">提交资源</a>
                            }
                        </li>
                        <li class="border_m border_r">
                            <a class="my_publish" href="/wechat/demand/add">发布需求</a>
                        </li>
                        <li class="border_m border_r">
                            <a class="my_publish" href="/wechat/activity/ShareActivity">分享活动</a>
                        </li>
                    }
                </ul>
                <ul>
                    @if (Model.IsUserLoggedIn)
                    {
                        <li class="border_m border_r">
                            <a class="my_record" href="/wechat/resource/myresources">我的资源</a>
                        </li>
                        <li class="border_m border_r">
                            <a class="my_record" href="/wechat/demand/mydemands">我的需求</a>
                        </li>
                        <li class="border_m border_r">
                            <a class="my_record" href="/wechat/activity/myactivities">我的活动</a>
                        </li>
                    }
                </ul>
                <ul>
                    <li class="border_m border_r">
                        <a class="my_record" href="/wechat/demand/mypaiddemand/">我购买的需求记录</a>
                    </li>
                    <li class="border_m border_r">
                        <a class="my_record" href="/wechat/subscribe/index/">我的需求订阅设置</a>
                    </li>
                </ul>
                <ul>
                    <li class="border_m border_r">
                        <a class="my_record" href="/wechat/quote/recievedquotes/">我提供的需求报价</a>
                    </li>
                    <li class="border_m border_r">
                        <a class="my_record" href="/wechat/quote/recievedquotes/">我收到的需求报价</a>
                    </li>
                </ul>
                <ul>
                    <li class="border_m border_r">
                        <a class="my_record" href="/Wechat/news/index">新闻公告</a>
                    </li>
                    <li class="border_m border_r">
                        <a class="my_record" href="http://mp.weixin.qq.com/s?__biz=MzIzODAzMjg1Mg==&mid=406616045&idx=1&sn=0284c00c826b9faacc9fd51d61e90a31&scene=0&previewkey=hJ65r3CvPxZrCv2xPXuf8MNS9bJajjJKzz%2F0By7ITJA%3D#wechat_redirect">关于我们</a>
                    </li>
                    @if (Model.IsUserLoggedIn)
                    {
                        <li class="border_m border_r">
                            <a class="my_record" style="color:red;" href="~/Wechat/account/logout" onclick="return confirm('您确定要解除会员账号绑定吗？');">解绑帐号</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="jg"></div>
    </div>

    <script>
        function gotoIdentify() {
            if (confirm('发布资源信息需要进行会员认证。是否立即前往认证？点击"确定"按钮，将前往会员认证页面')) {
                window.location.href = '/wechat/user/identify';
            }
        }
        function showLogInMessage() {
            if (confirm("您需要绑定会员账号后继续操作。可登录在PC端同步查看我发布的需求信息和活动在线。是否立即前往绑定会员帐号？")) {
                window.location.href = "/wechat/account/login";
            }
        }

        (function (doc, win) {
            var docEl = doc.documentElement,
              resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
              recalc = function () {
                  var clientWidth = docEl.clientWidth;
                  if (!clientWidth) return;
                  docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
              };

            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
</body>
</html>
