@{
    Layout = null;
}

@model Witbird.SHTS.Model.WeChatUser

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>会员中心</title>

    <link href="~/Areas/Wechat/Content/styles/user/style.css" rel="stylesheet" />
    <link href="~/Areas/M/Content/styles/shouwei/active.css" rel="stylesheet" />
    <link href="~/Areas/M/Content/styles/58/all_v20150415181405.css" rel="stylesheet" />
    <link href="~/Areas/M/Content/styles/58/ucenter_v20150331202541.css" rel="stylesheet" />
    <link href="~/Areas/M/Content/styles/58/m-weidian_v0.css" rel="stylesheet" />
    <style>
        .head {
            width: auto;
            height: 1.6rem;
        }

            .head > .background {
                height: 100%;
                width: 100%;
                background-image: url('../../../../Content/images/mid_banner/banner_01_repeat.png');
                background-size: 7.5rem 2.2rem;
                opacity: 0.5;
            }

            .head > .head-img {
                display: inline;
                top: 0.05rem;
                left: 0.1rem;
            }

            .head > .head-dsb {
                display: inline;
                top: 0.4rem;
                left: 2rem;
            }

                .head > .head-dsb > p {
                    /*color:#000;*/
                }

        .c_center {
            margin: 0 !important;
            border: none !important;
        }
    </style>
</head>
<body>
    <div id="_centent">

        <div class="head">
            <div class="background">

            </div>
            <div class="head-img">
                <a href="/wechat/user/viewuser">
                    <img src="@Model.Photo">
                </a>
            </div>
            <div class="head-dsb">
                <p class="dsb-name">编号：@Model.Id.ToString()</p>
                <p class="dsb-id">昵称：@Model.NickName</p>
            </div>
        </div>


        <section class="mt-1">
            <div class="ps-lt">
                @{
                    if (!Model.IsUserLoggedIn)
                    {
                        <div class="lt-dsb">
                            <a href="~/Wechat/account/register">
                                <p>注册会员账号</p>
                                <i class="arr-right"></i>
                            </a>
                        </div>
                        <div class="lt-dsb">
                            <a href="~/Wechat/account/login">
                                <p>绑定会员账号</p>
                                <i class="arr-right"></i>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="lt-dsb">
                            <a href="~/Wechat/user/ViewUser">
                                <p>会员信息</p>
                                <i class="arr-right"></i>
                            </a>
                        </div>
                        <div class="lt-dsb">
                            <a href="~/Wechat/finance/mybalance">
                                <p>提现账户</p>
                                <i class="arr-right"></i>
                            </a>
                        </div>
                    }
                }
            </div>
        </section>

        <section class="mt-3">
            <div class="ps-lt">
                <div class="lt-dsb">
                    <a href="~/wechat/resource/my">
                        <p>我提交的资源记录</p>
                        <i class="arr-right"></i>
                    </a>
                </div>
            </div>
        </section>
        <section class="mt-3">
            <div class="ps-lt">
                <div class="lt-dsb">
                    <a href="~/wechat/demand/mydemands">
                        <p>我发布的需求信息</p>
                        <i class="arr-right"></i>
                    </a>
                </div>
            </div>
            <div class="ps-lt">
                <div class="lt-dsb">
                    <a href="/wechat/demand/mypaiddemand/">
                        <p>我购买的业务信息</p>
                        <i class="arr-right"></i>
                    </a>
                </div>
            </div>
            <div class="ps-lt">
                <div class="lt-dsb">
                    <a href="/wechat/quote/recievedquotes/">
                        <p>我收到的报价</p>
                        <i class="arr-right"></i>
                    </a>
                </div>
            </div>
            <div class="ps-lt">
                <div class="lt-dsb">
                    <a href="/wechat/quote/postedquotes/">
                        <p>我提供的报价</p>
                        <i class="arr-right"></i>
                    </a>
                </div>
            </div>

        </section>
        <section class="mt-3">
            <div class="ps-lt">
                <div class="lt-dsb">
                    <a href="~/Wechat/trade/mytradelist">
                        <p>我的中介申请记录</p>
                        <i class="arr-right"></i>
                    </a>
                </div>
            </div>
        </section>
        <section class="mt-3">
            <div class="ps-lt">
                <div class="lt-dsb">
                    @{
                        if (!Model.IsUserLoggedIn)
                        {
                            <a href="javascript:showLogInMessage();">
                                <p>分享我的案例</p>
                                <i class="arr-right"></i>
                            </a>
                        }
                        else
                        {
                            <a href="~/Wechat/activity/ShareActivity">
                                <p>分享我的案例</p>
                                <i class="arr-right"></i>
                            </a>
                        }
                    }
                </div>
            </div>

            <div class="ps-lt">
                <div class="lt-dsb">
                    <a href="~/Wechat/activity/index">
                        <p>查看活动在线案例</p>
                        <i class="arr-right"></i>
                    </a>
                </div>
            </div>
        </section>

        <section class="mt-3">
            <div class="ps-lt">
                <div class="lt-dsb">
                    <a href="~/Wechat/news/index">
                        <p>新闻公告</p>
                        <i class="arr-right"></i>
                    </a>
                </div>
            </div>
            <div class="ps-lt">
                <div class="lt-dsb">
                    <a href="http://mp.weixin.qq.com/s?__biz=MzIzODAzMjg1Mg==&mid=406616045&idx=1&sn=0284c00c826b9faacc9fd51d61e90a31&scene=0&previewkey=hJ65r3CvPxZrCv2xPXuf8MNS9bJajjJKzz%2F0By7ITJA%3D#wechat_redirect">
                        <p>关于我们</p>
                        <i class="arr-right"></i>
                    </a>
                </div>
            </div>
        </section>

        @if (Model.IsUserLoggedIn)
            {
            <section class="mt-3">
                <div class="ps-lt">
                    <div class="lt-dsb">
                        <a onclick="return confirm('您确定要解除会员账号绑定吗？');" href="~/Wechat/account/logout">
                            <p style="color:red;">解除账号绑定</p>
                            <i class="arr-right"></i>
                        </a>
                    </div>
                </div>
            </section>
        }

        <div class="jg"></div>
    </div>

    <script>
        function gotoIdentify() {
            if (confirm('发布资源信息需要进行会员认证。是否立即前往认证？点击"确定"按钮，将前往会员认证页面')) {
                window.location.href = '/wechat/user/identify';
            }
        }
        function showLogInMessage() {
            if (confirm("您需要绑定会员账号后继续操作。可登录在PC端同步查看我发布的需求信息和活动在线。是否立即前往绑定会员帐号？")) {
                window.location.href = "/wechat/account/login";
            }
        }

        (function (doc, win) {
            var docEl = doc.documentElement,
              resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
              recalc = function () {
                  var clientWidth = docEl.clientWidth;
                  if (!clientWidth) return;
                  docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
              };

            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
</body>
</html>
