@model Witbird.SHTS.Web.Models.User.UserViewModel
@{
    ViewBag.Title = "密码修改";
    Layout = "~/Areas/Wechat/Views/Shared/WechatLayoutPage.cshtml";
}

@section head
{
    <link href="~/content/css/login.css" rel="stylesheet"/>
    <link href="~/Content/dialog/css/base.css" rel="stylesheet" />
    <style type="text/css">
        .reg-form .cell label {
            position: absolute;
            font-size: 10px;
            color: red !important;
            top: 30px;
            padding-left: 12px;
        }

        .wrap {
            height: auto;
        }

        .register-box {
            position: initial;
        }
    </style>
    <script type="text/javascript">
        function showOldPassword(obj) {
            if (obj.checked) {
                document.getElementById("oldpsw").setAttribute("type", "text");
            }
            else {
                document.getElementById("oldpsw").setAttribute("type", "password");
            }
        }
    </script>
}

<div class="wrap" style="width: 100%">
    <div class="register-box" style="height: 376px; width: 100%;">
        <form action="#" class="reg-form" method="POST" id="updatepassword">
            <div class="cell">
                <input name="oldpassword" type="password" id="oldpsw" placeholder="原密码"  class="text" />
            </div>
            <div class="cell">
                <input name="newpassword" id="newpassword" type="password" placeholder="新密码" class="text"/>
            </div>
            <div class="cell">
                <input name="confirmnewpassword" type="password" placeholder="重复密码" class="text" />
            </div>
            <div class="bottom">
                <button type="submit" style="width: 100%;" id="updatepasswordbtn" href="javascript:;" class="button btn-green">确认修改</button></div>
        </form>
    </div>
</div>
<input type="hidden" id="errormsg" value="@Model.ErrorMsg"/>
@section FooterJS
{
    <script src="~/Content/js/User/updatep.js"></script>
}
