@model Witbird.SHTS.Model.WeChatUser

<a href="~/Wechat/user/index" class="username" style="display: block; width: 96%;">欢迎您，@(Model.NickName)</a>
<a href="/Wechat/activity/ShareActivity">发布活动</a>
<a href="/Wechat/demand/add">发布需求</a>