<br />
<br />
<style>
    .menubar {
        position: fixed;
        bottom: 0;
        padding: 0;
    }

    .menubar button {
        font-size: 18px !important;
        font-weight: bold !important;
        height: 40px;
        line-height: 40px;
        background:#f9f9f8!important;
    }
</style>
<div id="fixed-bottom" class="btn-group btn-group-root navbar-static-bottom menubar" role="group" aria-label="...">
    <div class="btn-group dropup" role="group" style="width:33.3%;">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            会员中心
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="min-width:100%;width:100%;text-align:center;">
            <li>
                <a href="/wechat/account/register">注册会员</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/wechat/account/login">会员登录</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/wechat/account/login">会员认证</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:void(0)" onclick="alert('欲查看交易中介信息，请访问电脑版http://www.huodongzaixian.com/trade/index查看');">交易中介</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/wechat/user/index">更多操作</a>
            </li>
        </ul>
    </div>
    <div class="btn-group dropup" role="group" style="width:33.3%;">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            查找资源
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="min-width:100%;width:100%;text-align:center;">
            <li>
                <a href="/wechat/index/search">搜索资源</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/Wechat/resource/spacelist">活动场地</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/wechat/resource/actorlist">演艺人员</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/wechat/resource/equipmentlist">活动设备</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/wechat/resource/otherlist">其他资源</a>
            </li>
        </ul>
    </div>
    <div class="btn-group dropup" role="group" style="width:33.3%;">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            查找业务
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="min-width:100%;width:160px;right:0;left:auto;text-align:center;">
            <li>
                <a href="/wechat/demand/index/">查看业务</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/wechat/demand/add/">发布需求</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/wechat/subscribe/index/">业务订阅</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/wechat/quote/postedquotes/">我提供的需求报价</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/wechat/quote/recievedquotes/">我收到的需求报价</a>
            </li>
        </ul>
    </div>
</div>