<div class="tip msgconfirm">
    <div class="tiptop"><span class="msgtitle">Title</span><a class="msgconfirmcancel"></a></div>
    <span class="idtodel" style="display:none"></span>
    <div class="tipinfo">
        <span><img src="/areas/admin/content/images/ticon.png" /></span>
        <div class="tipright">
            <p class="msgmsg">Msg</p>
            <cite class="msgdetail">Detail</cite>
        </div>
    </div>
    <div class="tipbtn">
        <input name="" type="button" class="sure msgconfirmok" value="确定" />&nbsp;
        <input name="" type="button" class="cancel msgconfirmcancel" value="取消" />
    </div>
</div>
<div class="tip msgok">
    <div class="tiptop"><span class="msgtitle">Title</span><a class="msgok"></a></div>
    <div class="tipinfo">
        <span><img src="/areas/admin/content/images/ticon.png" /></span>
        <div class="tipright">
            <p class="msgmsg">Msg</p>
            <cite class="msgdetail">Detail</cite>
        </div>
    </div>
    <div class="tipbtn">
        <input name="" type="button" class="sure msgokok" value="确定" />
    </div>
</div>