@model Witbird.SHTS.Web.Areas.Admin.Models.SinglePageModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="/areas/admin/content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/areas/admin/content/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/areas/admin/content/js/jquery.js"></script>
    <script type="text/javascript" src="/areas/admin/content/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="/areas/admin/content/js/select-ui.min.js"></script>

    <link href="/Content/kindeditor/themes/default/default.css" rel="stylesheet" />
    <script src="/Content/kindeditor/kindeditor-min.js"></script>
    <script src="/Content/kindeditor/zh_CN.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $(".select1").uedSelect({
                width: 345
            });
            $(".select2").uedSelect({
                width: 150
            });
            $(".select3").uedSelect({
                width: 100
            });
        });
    </script>
    <script type="text/ecmascript">
        var editorContent;//定义编辑器
        KindEditor.ready(function (K) {
            editorContent = K.create('#editorContent', {
                height: '450px',
                resizeType: 1,
                allowPreviewEmoticons: false,
                allowImageUpload: true,
                allowFileManager: true,
                fillDescAfterUploadImage: true,
                uploadJson: '/Content/kindeditor/asp.net/upload_json.ashx',
                fileManagerJson: '/Content/kindeditor/asp.net/file_manager_json.ashx',
                items: [
                    'source', 'fontname', 'fontsize', 'lineheight', '|', 'undo', 'redo', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                    'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                    'insertunorderedlist', '|', 'emoticons', 'image', 'multiimage', 'link', 'table']
            });
        });
    </script>
    <script type="text/javascript">
        function addCity() {
            $("#editorContent").val(editorContent.html());//把编辑器的内空复制到 textarea 标签
            $.ajax({
                url: '/admin/about/edit',
                data: $("#aboutform").serialize(),
                type: 'POST',
                success: function (msg) {
                    if (msg == "success") {
                        alert("更新成功");
                    }
                    else {
                        alert(msg);
                    }
                },
                error: function (msg) {
                    alert("网络异常，添加失败");
                }
            });
        }
    </script>
</head>

<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="/admin/">首页</a></li>
            <li><a href="#">公司信息管理</a></li>
        </ul>
    </div>

    <div class="formbody">


        <div id="usual1" class="usual">

            <div class="itab">
                <ul>
                    <li><a href="#tab2">公司信息管理</a></li>
                </ul>
            </div>




            <div id="tab2" class="tabson">
                <form id="aboutform" method="post" action="/admin/about/edit">
                    <input type="hidden" name="id" value="@Model.SinglePage.Id" />
                    <ul class="forminfo">

                        <li>
                            <label>名称<b>*</b></label><input id="name" name="title" type="text" class="scinput" value="@Model.SinglePage.Title" /></li>

                        <li>
                            <label>内容<b>*</b></label><textarea id="editorContent" name="contentStyle" style="border:1px solid #cdcdcd; width:800px; height:350px;" >@Model.SinglePage.ContentStyle</textarea></li>
                        <li>
                            <label>&nbsp;</label><input onclick="addCity()" type="button" class="btn" value="更 新" /></li>
                    </ul>
                </form>
            </div>

        </div>

        <script type="text/javascript">
            $("#usual1 ul").idTabs();
        </script>

        <script type="text/javascript">
            $('.tablelist tbody tr:odd').addClass('odd');
        </script>





    </div>


</body>

</html>
