<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="shtsEntities" connectionString="metadata=res://*/SHTSModel.csdl|res://*/SHTSModel.ssdl|res://*/SHTSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=123.56.100.55;initial catalog=shts;persist security info=True;user id=sa;password=ABC123_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>