<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SMSService" value="WitBird.Com.SMS,WitBird.Com.SMS.YunTongXun.YunTongXunSMSService" />
    <add key="DefaultPhoto" value="/uploadfiles/photo.jpg" />

    <!-- 微信配置开始 -->
    <add key="WeixinToken" value="SHTS" />
    <add key="WeixinAppId" value="wx75defde278a65715"/>
    <add key="WeixinAppSecret" value="429a0bbaacdd3c84bd4936f3efed6524"/>
    <add key="WeixinEncodingAESKey" value="I7bqXMzrMTH7IOwLYh03NsdMfIfDEl6a56TviTgwLx0"/>

    <add key="WeixinAgentUrl" value="外部代理Url"/>
    <add key="WeixinAgentToken" value="外部代理Token"/>
    <add key="WeixinAgentWeiweihiKey" value="外部代理SouideaKey"/>

    <add key="WeixinPay_Tenpay" value="WeixinPay_Tenpay"/>
    <add key="WeixinPay_PartnerId" value="WeixinPay_PartnerId"/>
    <add key="WeixinPay_Key" value="WeixinPay_Key"/>
    <add key="WeixinPay_AppId" value="WeixinPay_AppId"/>
    <add key="WeixinPay_AppKey" value="WeixinPay_AppKey"/>
    <add key="WeixinPay_TenpayNotify" value="WeixinPay_TenpayNotify"/>

    <add key="TenPayV3_MchId" value="1263484201"/>
    <add key="TenPayV3_Key" value="0D239C23C10F46C7A967CE6E6D9FCF6E"/>
    <add key="TenPayV3_AppId" value="wx75defde278a65715"/>
    <add key="TenPayV3_AppSecret" value="429a0bbaacdd3c84bd4936f3efed6524"/>
    <!-- TenPayV3_TenpayNotify用于处理购买需求联系方式返回的通知 -->
    <add key="TenPayV3_TenpayNotify" value="http://test.xgdg.cn/Wechat/QAuthCallBack/BuyDemandPayNotifyUrl"/>

    <!--配置购买需求的金额，单位元-->
    <add key="BuyDemandFee" value="1"/>

    <!-- 微信配置结束 -->
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" maxRequestLength="999999999" />
    <compilation debug="true" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <customErrors mode="On" defaultRedirect="http://www.activity-line.com/common/Error">
      <error statusCode="404" redirect="http://www.activity-line.com/common/ErrorPageNotFound" />
    </customErrors>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <!--200MB-->
        <requestLimits maxAllowedContentLength="200000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <connectionStrings>
    <add name="shtsEntities" connectionString="metadata=res://*/SHTSModel.csdl|res://*/SHTSModel.ssdl|res://*/SHTSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=123.56.100.55;Initial Catalog=shts_test;Persist Security Info=True;User ID=sa;Password=ABC123_;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="sqlConn" connectionString="Data Source=123.56.100.55;Initial Catalog=shts_test;Persist Security Info=True;User ID=sa;Password=ABC123_" providerName="System.Data.SqlClient" />
    <add name="logPath" connectionString="D:\\wwwshts\\log.txt" />
    <add name="wexinLogPath" connectionString="D:\\wwwshts\\WexinLog.txt" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>